<%- include("../includes/head") , { title: 'Signup Page' }%>
<link rel="stylesheet" href="/styles/validation.css" />
<link rel="stylesheet" href="/styles/navbar.css" />

<body>
  <%- include('../includes/header') %>
  <main>
    <form class="validation-form" action="/signup" method="POST">
      <h1>Signup</h1>
      <% if (messages.error ) {%>
      <div class="error">
        <li class="fa fa-times-circle"><%= messages.error %></li>
      </div>
      <% } %>
      <div>
        <label for="username">Enter Your Name:</label>
        <span class="req">*</span>
        <input type="text" id="username" name="username" value="" required />
      </div>
      <div>
        <label for="email">Enter Your Email:</label>
        <span class="req">*</span>
        <input type="email" id="email" name="email" value="" required />
      </div>
      <div>
        <label for="Password">Enter Your Password:</label>
        <span class="req">*</span>
        <input
          type="password"
          id="password"
          name="password"
          value=""
          required
          minlength="6"
        />
      </div>
      <div>
        <label for="confirmedPassword">Confirm Your Password:</label>
        <span class="req">*</span>
        <input
          type="password"
          id="confirmedPassword"
          name="confirmedPassword"
          value=""
          required
          minlength="6"
        />
      </div>
      <div>
        <button class="btn">Signup</button>
        <p>If you have an acoount <a class="btn" href="/login">Login</a></p>
      </div>
    </form>
  </main>
  <%- include("../includes/footer") %>
</body>
