<%- include("../includes/head") , { title: 'Add Status' } %>
<script src="https://www.google.com/recaptcha/api.js" async defer></script>
<link rel="stylesheet" href="/styles/validation.css" />
<link rel="stylesheet" href="/styles/ticket.css" />
<link rel="stylesheet" href="/styles/navbar.css" />

<body>
  <%- include('../includes/header') %>
  <main>
    <form class="validation-form" action="/admin/ticket-status" method="POST">
      <h1>Add Status</h1>
      <% if (messages.success ) {%>
      <div class="success">
        <li class="fa fa-times-circle"><%= messages.success %></li>
      </div>
      <% } %>
      <div>
        <label for="type">Status:</label>
        <input type="text" id="status" name="status" value="" />
      </div>

      <!--       <div class="g-recaptcha" data-sitekey="6LcRiFgqAAAAAOE5xTh0tVYahMjZNpVwEX7RfRR6"></div>
 -->
      <button type="submit" class="btn">Add</button>
    </form>
  </main>
  <%- include("../includes/footer") %>
</body>
