<%- include("../views/includes/head") , { title: 'Login Page' }%>
<link rel="stylesheet" href="/styles/validation.css" />
<link rel="stylesheet" href="/styles/navbar.css" />
<body>
  <%- include('../views/includes/header') %>
  <main>
    <h1>حدث شي خاطئ!</h1>
    <p>للأسف حدث خطأ ما!</p>
    <a class="btn" href="/">ارجع للأمان</a>
  </main>
</body>
<%- include("../views/includes/footer")%>
