<%- include("../views/includes/head") , { title: 'Home Page' }%>
<link rel="stylesheet" href="/styles/validation.css" />
<body>
<%- include('../views/includes/header') %>
  <main>
    <h1>Home Page</h1>
  </main>
<%- include("../views/includes/footer") %>
</body>