<%- include("../views/includes/head") , { title: 'Home Page' }%>
<link rel="stylesheet" href="/styles/navbar.css" />
<link rel="stylesheet" href="/styles/validation.css" />
<body>
  <%- include('../views/includes/header') %>

  <main>
    <% if (user) { %> <% if (user.role === 'admin') { %>
    <h1>مرحبا, ادمن!</h1>
    <% } else if (user.role === 'agent') { %>
    <h1>مرحبا, عميل!</h1>
    <% } else if (user.role === 'customer') { %>
    <h1>مرحبا, مستخدم!</h1>
    <% } %> <% } else { %>
    <h1>مرحبا! الرجاء تسجيل الدخول.</h1>
    <% } %>
    <h2>هل لديك مشكة؟</h2>
    <h3 style="margin-bottom: 1rem">ارفع تذكرة لنستطيع حلها</h3>
    <a class="btn" href="/create_ticket">رفع تذكرة</a>
    <hr />
    <a class="btn" href="/ticket/Inquiry">البحث عن تذكرة</a>
    <% if (user) { %>
    <form action="/logout" method="POST">
      <button class="btn" style="margin-top: 1rem">تسجل خروج</button>
    </form>
    <% } %>
  </main>
  <%- include("../views/includes/footer") %>
</body>
