<%- include("../views/includes/head") , { title: 'Home Page' }%>
<link rel="stylesheet" href="/styles/validation.css" />
<body>
<%- include('../views/includes/header') %>
  <main>
    <h1>Welcome!</h1>
    <h2>Do you have a problem?</h2>
    <h3>File a ticket to help us solve it</h3>
    <a class="btn" href="/create_ticket">File Ticket</a>
  </main>
<%- include("../views/includes/footer") %>
</body>