#tickets-grid {
    margin: 2rem auto;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(15rem, 1fr));
    gap: 1rem;
  }

  ul,
ol {
  list-style: none;
  margin: 0;
  padding: 0;
}
  
  .ticket-item {
    border-radius: 4px;
    text-align: center;
    background-color: white;
    overflow: hidden;
  }
  
  .ticket-item img {
    width: 100%;
    height: 10rem;
    object-fit: contain;
  }
  
  .ticket-item-content {
    padding: 1rem;
  }
  
  .ticket-item-content h2 {
    font-size: 1.15rem;
    margin: 0.5rem 0;
  }
  
  .ticket-item-actions {
    display: flex;
    gap: 0.5rem;
    margin-top: 1rem;
    justify-content: center;
  }
  
  #ticket-details header {
    margin-top: 2rem;
    padding: 2rem;
    background-color: white;
    gap: 2rem;
    border-radius: 4px;
  }
  
  #ticket-details img {
    width: 100%;
    height: 6rem;
    object-fit: cover;
    border-radius: 6px;
    border: 1px solid white;
  }
  
  #ticket-info {
    text-align: center;
  }
  
  #ticket-description {
    background-color: white;
    padding: 2rem;
    white-space: pre-wrap;
    border-radius: 4px;
    font-size: large;
  }
  
  @media (min-width: 48rem) {
    #ticket-details header {
      display: flex;
    }
  
    #ticket-details img {
      width: 20rem;
      height: 15rem;
      transform: rotateZ(-10deg);
      margin: 2rem;
    }
  
    #ticket-info {
      text-align: left;
    }
  
    #ticket-info p {
      font-size: large;
    }
  }